body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #1b2838 0%, #171a21 100%);
    min-height: 1200px;
} 

.menusuperior{
    display: flex;
    background-color: #171a21;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 10px 20px;
    flex-wrap: wrap;
    position: relative;
}

@media screen and (max-width: 768px){
    .menusuperior{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 15px 0;
        margin: 0;
        position: relative;
    }
    .Logo{
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
    }
    #fotoLogo{
        display: block;
        margin: 0 auto 10px auto;
        height: 80px;
        width: auto;
    }
    
    
}
 
#fotologo{
    height: 100px;
    width: 250px;
    object-fit: cover;
}
.Logo{
    margin-right: 20px;
}

.menulinks{
    color: #c7d5e0;
    margin-left: 20px;
    font-size: 14px;
    margin-right: 50px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flexbox;
    align-items: center;
}
.menulinks a{
    text-decoration: none;
    color: inherit;
}


.descricao p{
    display: flex;
    color: #b8b6b4;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #1b2838 0%, #171a21 100%);
    border-radius: 10px;
    margin: 0;
}
    
.imagens_jogos{
    display: flex;
    justify-content: center;
    height: 30px;
}
 
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100px;
    max-width: 1000px;
    object-fit: cover;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
    padding-top: 50px;
}

.card{
    width: 220px;
    background-color: #171a21;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 15px;
    transition:  box-shadow 0.2s ease;
}

.card:hover{
    transform:scale(1.05);
    box-shadow: 0 0 15px darkblue;
} 
 

.card img{
    width: 200px;
    height: 120px;
    border-radius: 8px;
}

.search-box{
    display: flex;
    width: 300px;
    margin: 20px auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.search-box input{
    flex: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #2b2b2b;
    color: #fff;
}

.search-box input::placeholder{
    color: #aaa;
}

.search-box button{
    background-color: #1b1b1b;
    color: #fff;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    font-size: 18px;
    transition: backgroud 0.3s; 
}

.search-box button:hover{
    background-color: #444;
}

.banner{
    display: block;
    width: 250px;
    height: 450px;
}

.banner img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
    box-shadow: 0 0 10px darkblue;
    top: 200px;
}

@media screen and (max-width: 768px){
    .banner{
        display: none;
    }
}

.menuinferior{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #171a21;
    justify-content: space-around ;
    align-items: center;
    border-top: 1px solid #2a475e;
    z-index: 100;
}

.menuinferior button{
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}

.menuinferior button:hover{
    background-color: #2a475e;
    border-radius: 5px;
}

main{
    height: 46vh;
}

.gameverse-footer{
    background-color: #111;
    color: #ccc;
    text-align: center;
    padding: 20px 10px;
    font-size: 13px;
}

.gameverse-footer a{
    color: #7b5fff;
    text-decoration: none;
    margin: 0 5px;
}

.gameverse-footer a:hover{
    text-decoration: underline;
}
 
.social-icons{
    margin-top: 10px;
}

.social-icons img{
    width: 24px;
    height: 24px;
    margin: 0 8px;
    transition: transform 0.2s;
    border-radius: 5px;
}
.social-icons img:hover{
    transform: scale(1.2);
}

@media (min-width: 1000px){
    body{
        background-color: red;
    }
}





 