@media (max-width:451px){
    div{
        height: 350px;|
        width: 350px;
        background-color: red;
    }
}

@media (min-width:351px) and (max-width:700px){
    div{
        height: 500px;|
        width: 500px;
        background-color: blue;
    }
}

@media (min-width:701px){
    div{
        height: 250px;
        width: 100%;
        background-color: black;
    }
}